__pycache__/*
utils/__pycache__/*
input.ini
results/*
*.log
*.pyc
*.json
DataVisuals/*
tests/*
numpoints_job_file
input_N4000.py
private/wandb_api_key.txt
wandb/*
*.yaml
*.job
*.err
*Results*
*.ipynb
*job_file*
input_*.py
*.png
src/trainRefactor.py
*stats
*txt
FNO_Grav_Turb_job
sweep_Turb_RNN
RNN_MHD_Turb_job
